<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robot.dao.Routemapper">

    <sql id="findTotalCountSql">
        <if test="cid !=0">
            and cid=#{cid}
        </if>
        <if test="rname != null and rname.length() > 0 and rname!='null'">
            and rname like '%${rname}%'
        </if>
    </sql>

    <select id="findTotalCount" parameterType="pageBean" resultType="Integer">
        select count(*) from tab_route
        <where>
            1=1
            <include refid="findTotalCountSql"></include>
        </where>

    </select>

    <select id="findByPage" resultType="route" parameterType="pageBean" >
        select * from tab_route
         <where>
             1=1
             <include refid="findTotalCountSql"></include>
         </where>
           limit #{start},#{pageSize}
    </select>

    <select id="findOne" parameterType="Integer" resultType="route">
        select * from tab_route where rid=#{rid}
    </select>
</mapper>